{% load static %}

<!-- ======= Top Bar ======= -->
<div id="topbar" class="d-flex align-items-center fixed-top">
<div class="container d-flex align-items-center justify-content-center justify-content-md-between">
  <div class="align-items-center d-none d-md-flex">
    <i class="bi bi-clock"></i> Monday - Saturday, 8AM to 10PM
  </div>
  <div class="d-flex align-items-center">
    <i class="bi bi-phone"></i> Call us now +1 5589 55488 55
  </div>
</div>
</div>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
<div class="container d-flex align-items-center">

  <a href="{% url 'gettreat:homepage' %}" class="logo me-auto"><img src="{% static 'assets/img/logo.jpg' %}" alt=""></a>
  {% if user.is_patient %}
    <a href="{% url 'gettreat:clientspage' %}">Hello, {{request.user}}</a>  | &nbsp;
    <a class="nav-link" href="{% url 'gettreat:logout' %}">Logout</a>
  {% elif user.is_hospital %}

     <a href="{% url 'gettreat:hospitapage' %}">Hello,H-admin: {{request.user}}</a>  | &nbsp;
  {% else %}
    

  {% endif %}
  
  {% if user.is_admin %}  
    <a href="{% url 'gettreat:dashboardpage' %}">Hello G-Admin, {{request.user}}</a>  | &nbsp;
  {% endif %}

  {% if user.is_authenticated %}
     <a class="nav-link" href="{% url 'gettreat:logout' %}">Logout</a>
  {% else %}
    <a href="{% url 'gettreat:loginpage' %}"><span class="d-none d-md-inline">Sign</span> Up</a>

  {% endif %}


  <nav id="navbar" class="navbar order-last order-lg-0">
    <ul>
      
      <li><a class="nav-link scrollto " href="/">Home</a></li>
      <li><a class="nav-link scrollto" href="{% url 'gettreat:aboutpage' %}">About</a></li>
      <li><a class="nav-link scrollto" href="{% url 'gettreat:servicepage' %}">Services</a></li>
      <li><a class="nav-link scrollto" href="{% url 'gettreat:contactpage' %}">Contact Us</a></li>
    </ul>
    <i class="bi bi-list mobile-nav-toggle"></i>
  </nav><!-- .navbar -->

</div>
</header><!-- End Header -->