{% extends 'gettreat/admin/main.html' %}
{% load static %}
{% block content %}

<!-- Page-header start -->
{% include 'gettreat/admin/topnav.html' %}

<!-- Page-header end -->
<div class="pcoded-inner-content">
  <!-- Main-body start -->
  <div class="main-body">
      <div class="page-wrapper">
          <!-- Page-body start -->
          <div class="page-body">
              <div class="row">
                 {% include 'gettreat/admin/reports.html' %}

                  <!--  project and team member start -->
                  <div class="col-xl-8 col-md-12">
                      <div class="card table-card">
                          <div class="card-header bg-info">
                              <h5>Emergency</h5>
                              <div class="card-header-right">
                                  <ul class="list-unstyled card-option">
                                      <li><i class="fa fa fa-wrench open-card-option"></i></li>
                                      <li><i class="fa fa-window-maximize full-card"></i></li>
                                      <li><i class="fa fa-minus minimize-card"></i></li>
                                      <li><i class="fa fa-refresh reload-card"></i></li>
                                      <li><i class="fa fa-trash close-card"></i></li>
                                  </ul>
                              </div>
                          </div>
                          <div class="card-block">
                              <div class="table-responsive">
                                  <table class="table table-hover">
                                      <thead>
                                      <tr>
                                          <th>ID</th>
                                          <th>Immediete Contact</th>
                                          <th>Date</th>
                                          <th class="text-right">Location</th>
                                          <th>Hospital</th>
                                          <th>Status</th>
                                      </tr>
                                      </thead>
                                      <tbody>
                                      {% if emerg %}
                                        {% for emergency in emerg %}
                                        
                                          <tr>
                                              <td>{{emergency.patient_id}}</td>
                                              <td>{{emergency.Immediete_phone}}</td>
                                              <td>{{emergency.AddedDate}}</td>
                                               <td>{{emergency.location}}</td>
                                              <td>{{emergency.Hospital_Name}}</td>
                                              <td class="text-right"><label class="label label-danger">{{emergency.status}}</label></td>
                                          </tr>
                                        {% endfor %}
                                        

                                      {% else %}

                                        <tr>
                                          <h1>We Have Not Any Clients To any hospital Yet</h1>                                             
                                        </tr>

                                      {% endif %}
                                      
                                      </tbody>
                                  </table>
                                  <div class="text-right m-r-20">
                                      <a href="" class=" b-b-primary text-primary">View All</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  {% include 'gettreat/admin/hospitallist.html' %}
              </div>
          </div>
          <!-- Page-body end -->
      </div>
      <div id="styleSelector"> </div>
  </div>
</div>
<hr class="bg-primary">
<hr class="bg-info">


{% endblock content %}
