<div class="page-header">
<div class="page-block">
    <div class="row align-items-center">
        <div class="col-md-8">
            <div class="page-header-title">
                <h5 class="m-b-0">Welcome to Value Life</h3>
            </div>
        </div>
        <div class="col-md-4">
            <ul class="breadcrumb-title">
                <li class="breadcrumb-item">
                    <a href="{% url 'gettreat:dashboardpage' %}"> <i class="fa fa-home"></i> </a>
                </li>
                <li class="breadcrumb-item"><a href="{% url 'gettreat:dashboardpage' %}">Dashboard</a>
                </li>
            </ul>
        </div>
    </div>
</div>
</div>